appdirs==1.4.3
attrs==19.3.0
Automat==0.8.0
backcall==0.1.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.1
distlib==0.3.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-MySQL==1.4.0
flask-ngrok==0.0.25
graphviz==0.13.2
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython==7.11.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.3
joblib==0.14.1
kiwisolver==1.1.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.17.4
pandas==0.25.3
parsel==1.5.2
parso==0.5.2
pickleshare==0.7.5
pipenv==2018.11.26
prompt-toolkit==3.0.2
Protego==0.1.16
proxyscrape==0.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
pydotplus==2.0.2
Pygments==2.5.2
PyHamcrest==2.0.0
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
requests==2.22.0
scikit-learn==0.22
scipy==1.4.1
scrapy-rotating-proxies==0.6.2
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
tqdm==4.30.0
traitlets==4.3.3
typing==3.7.4.1
urllib3==1.25.8
virtualenv==20.0.20
virtualenv-clone==0.5.4
w3lib==1.21.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
zope.interface==4.7.1
